.git
.github
.circleci
.venv
__pycache__
*.pyc
*.pyo
.env
.env.*
!.env.example
htmlcov
.mypy_cache
.ruff_cache
.pytest_cache
test-results
coverage.xml
docs/
*.md
!components/**/README.md
mkdocs.yml
.python-version
